.pageContainer {
  width: 100%;
  max-width: var(--page-container-max-width);
  margin-inline: auto;
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .pageContainer {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .pageContainer {
    padding: 2.25rem;
  }
}
