.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #0a2538;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}

.sidebarOpen {
  transform: translateX(0);
}

.sidebarClosed {
  transform: translateX(-100%);
}

.sidebarCloseButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebarLogoArea {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.sidebarLogoBox {
  background: #1fa3c6;
  padding: 8px;
  border-radius: 8px;
}

.sidebarLogoText {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: background 0.2s;
}

.sidebarItem:hover {
  background-color: #12394d;
}

.active {
  background-color: #1fa3c6;
}


.sidebarFooter {
  margin-top: auto;
  padding-top: 20px;
}


.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center; /* 👈 centraliza horizontalmente */
  gap: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  width: 110px;
  background: transparent;
  color: #c7d3dd;
  cursor: pointer;
  transition: all 0.2s;
}
.logoutButton:hover {
  background-color: #b83434;
  color: white;
}